{% extends 'base.html' %}
{% block content %}
<form action="/h2h" method="POST">
    <section id="headtohead-container">
    <div class="h2h-player">
        <label for="player_one">Player One:</label>
        <select name="player_one_id" id="player_one">
            {% for player in players %}
            <option value="{{ player.id }}">
                {{ player.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="h2h-player">
        <label for="player_two">Player Two:</label>
        <select name="player_two_id" id="player_two">
            {% for player in players %}
            <option value="{{ player.id }}">
                {{ player.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</section>
</form>
{% endblock content %}