{% extends "base.html" %}
{% block content %}
<div id="player-container">
    <h2>Players</h2>
    <a href="/players/new"><button class="button">Add Player</button></a>
    <section id="all-players">

    {% for player in players %}

        <div id="player">
        <p>Name: <a href="/players/{{ player.id }}">{{ player.name }}</a></p>
        <p>Games Played: {{ player.games_played }}</p>
        <p>Wins: {{ player.wins }}</p>
        <p>Losses: {{ player.losses }}</p>
        <p>Points: {{ player.points }}</p>
        <a href="/players/{{ player.id }}/edit">Edit</a>
        <br>
        <form action="/players/{{ player.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
        </div>

    {% endfor %}
    </section>
</div>
{% endblock %}