.table-container {
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    width: 20%;
    background-color: #333;
    color: white;
    font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

tbody tr:first-child {
    background-color: #AFE1AF;
}

tbody th {
    background-color: #888;
    color: #fff;
    text-align: left;
}

tbody tr:nth-child(even) th {
    background-color: #999;
}