{% extends "base.html" %}
{% block content %}

<h2>Add a New Game</h2>

<form action="/games" method="POST">
    <div>
        <label for="player_one">Player One:</label>
        <select name="player_one_id" id="player_one">
            {% for player in players %}
            <option value="{{ player.id }}">
                {{ player.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="player_one_result">Result: </label>
        <input type="text" id="p1_result" name="p1_result">
    </div>
    <div>
        <label for="player_two_result">Result: </label>
        <input type="text" id="p2_result" name="p2_result">
    </div>
    <div>
        <label for="player_two">Player Two:</label>
        <select name="player_two_id" id="player_two">
            {% for player in players %}
            <option value="{{ player.id }}">
                {{ player.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}