<!DOCTYPE html>
<html>
<head>
  <title>Sports League</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<main id="grid-container">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/games">Games</a>
      </li>
      <li>
        <a href="/players">Players</a>
      </li>
      <li>
        <a href="/table">Table</a>
      </li>
      <li>
        <a href="/headtohead">Head 2 Head</a>
      </li>
    </ul>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>