{% extends 'base.html' %}
{% block content %}
<main id="index">
<section>
    <h2>Recent Games</h2>
    {% for game in recent_games %}

    <div id="game">
    {% if game.p1_result > game.p2_result %}
    <p><span class="winner">{{ game.player_one.name }}</span> {{game.p1_result}} - {{game.p2_result}} {{game.player_two.name}}</p>    
    {% else %}
    <p>{{ game.player_one.name }}{{game.p1_result}} - {{game.p2_result}} <span class="winner">{{game.player_two.name}}</span></p>    
    {% endif %}
    
    </div>

{% endfor %}
</section>
    <section class="table-container">
        <h2>League Table</h2>
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Games Played</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
            <tr>
                <th>{{ player.name }}</th>
                <td>{{ player.games_played }}</td>
                <td>{{ player.wins}}</td>
                <td>{{ player.losses}}</td>
                <td>{{ player.points }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
    </section>
</main>
{% endblock content %}