{% extends 'base.html' %}
{% block content %}
<section class="table-container">  
<h2>League Table</h2>
    <table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Games Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <th>{{ player.name }}</th>
        <td>{{ player.games_played }}</td>
        <td>{{ player.wins}}</td>
        <td>{{ player.losses}}</td>
        <td>{{ player.points }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</section>
{% endblock content %}